html,
body {
  position: relative;
  width: 100%;
  background: #f0f0f0;
  z-index: 0;
  overflow-x: hidden;
}

body {
  color: #0a0a0a;
  display: flex;
  justify-content: center;
  margin: 0;
  box-sizing: border-box;
  font-family: "kobe", sans-serif;
  text-transform: uppercase;
  font-size: 1.15rem;
}

a {
  color: purple;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

@font-face {
  font-family: dahlia;
  src: url(/fonts/dahlia-regular.woff) format("woff");
}

@font-face {
  font-family: kobe;
  src: url(/fonts/kobe-regular.woff) format("woff");
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #1b1c1d !important;
  border-radius: 0;
}

@media (max-width: 800px) {
  body {
    padding: 0 2rem;
    margin: 0;
  }
}
